{
  "openapi": "3.1.0",
  "info": {
    "title": "Probara API",
    "version": "1.0.0",
    "description": "Integrator-facing REST API for Probara (test case management). Authenticate with organization-scoped API keys via Bearer token.\n\nIdempotent requests: unsafe operations (POST, PUT, PATCH, DELETE) accept an optional `Idempotency-Key` header (see `components.parameters.IdempotencyKey`). A replayed response carries `Idempotency-Replayed: true`. A duplicate received while the original is still in flight responds `409` with a `Retry-After` header. Reusing a key with a different request fingerprint responds `422`. An invalid key (empty or over 255 visible ASCII characters) responds `400`. Keys are retained for 24 hours. File uploads (`multipart/form-data` request bodies) ignore the header, so nothing protects a retried upload. Only stage requests are safe to retry, because a staged file that no later request references expires. A direct upload (`uploadDefectAttachments`) is not: a retry can store the same files twice, so check the attachment list before retrying it."
  },
  "servers": [
    {
      "url": "https://app.probara.net",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Worker dev server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/projects/{projectId}/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "operationId": "submitReport",
        "summary": "Submit a CI report",
        "description": "One call per batch of automated results. `run` either names an open run of the project to reuse (`{ ulid, source? }`) or creates one (`{ name, description?, environmentId? | environment?, milestoneId? | milestone?, plan?, configurationUlids? | configurations?, tags?, source? }`), each field with its rule on `POST /projects/{projectId}/runs`; a created run's `plan` seeds it with the plan's selected cases (each untested until a result arrives for it; a plan with no selected cases is a 422), and reported cases join them. Each reference takes one form: `environmentId` or `environment`, `milestoneId` or `milestone`, `planUlid` or `plan`, `configurationUlids` or `configurations`; both forms of one reference is a 422. The name forms serve CI tools whose app token cannot look ULIDs up: `milestone` and `plan` take a display id (`M-<n>`, `PLAN-<n>`) or an exact name, `configurations` takes `{ group, name }` pairs, all among the live rows of the project; an unknown one is a 422 (`validation_failed`, `details.field` naming it, `details.code` `unknown_reference`) and nothing is written. `source` is the run's CI source (branch, commit, build URL — the rules of `POST /projects/{projectId}/runs`): a created run stores it, and a reused run takes it only while it has none, so the first source wins and none is ever overwritten. Each of the 1–500 `results` is matched to a test case by `caseDisplayId` (authoritative when present; a case without an automation key adopts the entry's key when no other case holds it) or else by `automationKey`. An unknown key that comes with a `title` creates the case under `suitePath` beneath `options.suiteUlid` (or the project root) unless `options.createMissingCases` is false; entries sharing a new key create one case. Every matched entry appends one result; the run case keeps the last outcome. An entry may also carry `parameters`, a `steps` tree and `links` (absolute `http:`/`https:` URLs only): all are stored with its result and answered on `GET /runs/{runUlid}/results/{resultUlid}` (`parameters`, `resultSteps`, `links`), never echoed in this response. Its `case` (description, tags, fields by name, steps) applies only when the entry creates the case — the first entry of a new key — so a report never modifies an existing case; a field it cannot resolve is skipped and listed in the response `warnings`. `options.assignFailedTo` (member emails) assigns every run case this report leaves `failed` and that has no assignee, round-robin in the order given (the round-robin starts again with the first member in every report), in the same transaction as the results; it never overwrites an assignee. An email that is not an active member whose role can execute runs and who can access the project (a custom role is skipped) is counted in the first item of `warnings`, which never names which emails failed; it never fails the report. `results[i]` in the response answers `results[i]` of the request; unmatched entries carry a `reason` and record nothing. All writes commit atomically. Each recorded result counts toward the API result quota (409 `api_result_limit_exceeded`, nothing written). The run is never auto-completed, so larger suites can be sent in chunks to the same run; `options.close: true` closes it. Send an `Idempotency-Key` so a retried batch is replayed instead of recorded twice. Concurrent reports into the same run (parallel CI shards) are reconciled at commit: each commits against the run as it is then, so no case is added to the run twice, appended positions never collide, two shards creating the same new key share one case, and a run closed or aborted meanwhile answers 409 `conflict` with nothing written.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "ulid": {
                            "type": "string",
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                          },
                          "source": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "branch": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "commit": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "minLength": 1,
                                "maxLength": 64,
                                "pattern": "^[\\x21-\\x7E]+$"
                              },
                              "buildUrl": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "maxLength": 2048,
                                "format": "uri"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "ulid"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 2000
                          },
                          "environmentId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                          },
                          "environment": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 80,
                            "description": "The environment by name, for CI tools: its slug is matched against the live environments of the project, and a new environment is created when none matches. Not together with `environmentId`."
                          },
                          "milestoneId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                          },
                          "milestone": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "description": "The milestone to link, by reference: a display id `M-<n>`, or else the exact (case-sensitive) name of a milestone of the project. A value shaped like a display id is only ever read as one. Deleted milestones never match; an unknown one is a 422 naming `milestone`. Not together with `milestoneId`."
                          },
                          "plan": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200,
                            "description": "The test plan to link, by reference: a display id `PLAN-<n>`, or else the exact (case-sensitive) name of a test plan of the project. A value shaped like a display id is only ever read as one. Deleted plans never match; an unknown one is a 422 naming `plan`. Same effect as `planUlid`, and not together with it."
                          },
                          "configurationUlids": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                            },
                            "maxItems": 20,
                            "uniqueItems": true
                          },
                          "configurations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "group": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 120
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 120
                                }
                              },
                              "required": [
                                "group",
                                "name"
                              ],
                              "additionalProperties": false
                            },
                            "maxItems": 20,
                            "description": "Configuration values to tag the run with, by name: `group` is the exact (case-sensitive) name of a configuration group of the project and `name` the exact name of a value in it. At most 20, each group at most once. Deleted groups and values never match; an unknown one is a 422 naming `configurations`. Not together with `configurationUlids`."
                          },
                          "tags": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 80
                            },
                            "maxItems": 50
                          },
                          "source": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "branch": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "commit": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "minLength": 1,
                                "maxLength": 64,
                                "pattern": "^[\\x21-\\x7E]+$"
                              },
                              "buildUrl": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "maxLength": 2048,
                                "format": "uri"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "caseDisplayId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "automationKey": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 1024,
                          "description": "Stable key that links an automated test to a case for CI reporting, for example `e2e/login.spec.ts > Login > rejects bad password`: trimmed, 1–1024 characters, no control characters; a key holding a control character (such as a newline or a tab) is refused with 422. Unique per project across active and archived cases."
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 400
                        },
                        "suitePath": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "maxItems": 10
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "passed",
                            "failed",
                            "skipped",
                            "blocked"
                          ]
                        },
                        "durationMs": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "notes": {
                          "type": "string",
                          "maxLength": 4000
                        },
                        "executedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "parameters": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "maxLength": 500
                          },
                          "maxProperties": 20,
                          "description": "The parameters this execution ran with, name to value, for example `{ \"browser\": \"chromium\" }`: at most 20 entries; names and values are trimmed, a name has 1–100 characters and a value at most 500. Two names that are equal once trimmed, and the name `__proto__`, are refused with 422. Stored in the order sent."
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "action": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 2000
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "passed",
                                  "failed",
                                  "skipped",
                                  "blocked"
                                ]
                              },
                              "durationMs": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "error": {
                                "type": "string",
                                "maxLength": 4000
                              },
                              "expected": {
                                "type": "string",
                                "maxLength": 2000
                              },
                              "data": {
                                "type": "string",
                                "maxLength": 2000
                              },
                              "steps": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "action": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 2000
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "passed",
                                        "failed",
                                        "skipped",
                                        "blocked"
                                      ]
                                    },
                                    "durationMs": {
                                      "type": "integer",
                                      "minimum": 0
                                    },
                                    "error": {
                                      "type": "string",
                                      "maxLength": 4000
                                    },
                                    "expected": {
                                      "type": "string",
                                      "maxLength": 2000
                                    },
                                    "data": {
                                      "type": "string",
                                      "maxLength": 2000
                                    },
                                    "steps": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "action": {
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 2000
                                          },
                                          "status": {
                                            "type": "string",
                                            "enum": [
                                              "passed",
                                              "failed",
                                              "skipped",
                                              "blocked"
                                            ]
                                          },
                                          "durationMs": {
                                            "type": "integer",
                                            "minimum": 0
                                          },
                                          "error": {
                                            "type": "string",
                                            "maxLength": 4000
                                          },
                                          "expected": {
                                            "type": "string",
                                            "maxLength": 2000
                                          },
                                          "data": {
                                            "type": "string",
                                            "maxLength": 2000
                                          },
                                          "steps": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "action": {
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 2000
                                                },
                                                "status": {
                                                  "type": "string",
                                                  "enum": [
                                                    "passed",
                                                    "failed",
                                                    "skipped",
                                                    "blocked"
                                                  ]
                                                },
                                                "durationMs": {
                                                  "type": "integer",
                                                  "minimum": 0
                                                },
                                                "error": {
                                                  "type": "string",
                                                  "maxLength": 4000
                                                },
                                                "expected": {
                                                  "type": "string",
                                                  "maxLength": 2000
                                                },
                                                "data": {
                                                  "type": "string",
                                                  "maxLength": 2000
                                                },
                                                "steps": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "action": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 2000
                                                      },
                                                      "status": {
                                                        "type": "string",
                                                        "enum": [
                                                          "passed",
                                                          "failed",
                                                          "skipped",
                                                          "blocked"
                                                        ]
                                                      },
                                                      "durationMs": {
                                                        "type": "integer",
                                                        "minimum": 0
                                                      },
                                                      "error": {
                                                        "type": "string",
                                                        "maxLength": 4000
                                                      },
                                                      "expected": {
                                                        "type": "string",
                                                        "maxLength": 2000
                                                      },
                                                      "data": {
                                                        "type": "string",
                                                        "maxLength": 2000
                                                      },
                                                      "steps": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "action": {
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 2000
                                                            },
                                                            "status": {
                                                              "type": "string",
                                                              "enum": [
                                                                "passed",
                                                                "failed",
                                                                "skipped",
                                                                "blocked"
                                                              ]
                                                            },
                                                            "durationMs": {
                                                              "type": "integer",
                                                              "minimum": 0
                                                            },
                                                            "error": {
                                                              "type": "string",
                                                              "maxLength": 4000
                                                            },
                                                            "expected": {
                                                              "type": "string",
                                                              "maxLength": 2000
                                                            },
                                                            "data": {
                                                              "type": "string",
                                                              "maxLength": 2000
                                                            },
                                                            "steps": {
                                                              "type": "array",
                                                              "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "action": {
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 2000
                                                                  },
                                                                  "status": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                      "passed",
                                                                      "failed",
                                                                      "skipped",
                                                                      "blocked"
                                                                    ]
                                                                  },
                                                                  "durationMs": {
                                                                    "type": "integer",
                                                                    "minimum": 0
                                                                  },
                                                                  "error": {
                                                                    "type": "string",
                                                                    "maxLength": 4000
                                                                  },
                                                                  "expected": {
                                                                    "type": "string",
                                                                    "maxLength": 2000
                                                                  },
                                                                  "data": {
                                                                    "type": "string",
                                                                    "maxLength": 2000
                                                                  },
                                                                  "steps": {
                                                                    "type": "array",
                                                                    "items": {
                                                                      "type": "object",
                                                                      "properties": {
                                                                        "action": {
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 2000
                                                                        },
                                                                        "status": {
                                                                          "type": "string",
                                                                          "enum": [
                                                                            "passed",
                                                                            "failed",
                                                                            "skipped",
                                                                            "blocked"
                                                                          ]
                                                                        },
                                                                        "durationMs": {
                                                                          "type": "integer",
                                                                          "minimum": 0
                                                                        },
                                                                        "error": {
                                                                          "type": "string",
                                                                          "maxLength": 4000
                                                                        },
                                                                        "expected": {
                                                                          "type": "string",
                                                                          "maxLength": 2000
                                                                        },
                                                                        "data": {
                                                                          "type": "string",
                                                                          "maxLength": 2000
                                                                        },
                                                                        "steps": {
                                                                          "type": "array",
                                                                          "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "action": {
                                                                                "type": "string",
                                                                                "minLength": 1,
                                                                                "maxLength": 2000
                                                                              },
                                                                              "status": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                  "passed",
                                                                                  "failed",
                                                                                  "skipped",
                                                                                  "blocked"
                                                                                ]
                                                                              },
                                                                              "durationMs": {
                                                                                "type": "integer",
                                                                                "minimum": 0
                                                                              },
                                                                              "error": {
                                                                                "type": "string",
                                                                                "maxLength": 4000
                                                                              },
                                                                              "expected": {
                                                                                "type": "string",
                                                                                "maxLength": 2000
                                                                              },
                                                                              "data": {
                                                                                "type": "string",
                                                                                "maxLength": 2000
                                                                              },
                                                                              "steps": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                  "type": "object",
                                                                                  "properties": {
                                                                                    "action": {
                                                                                      "type": "string",
                                                                                      "minLength": 1,
                                                                                      "maxLength": 2000
                                                                                    },
                                                                                    "status": {
                                                                                      "type": "string",
                                                                                      "enum": [
                                                                                        "passed",
                                                                                        "failed",
                                                                                        "skipped",
                                                                                        "blocked"
                                                                                      ]
                                                                                    },
                                                                                    "durationMs": {
                                                                                      "type": "integer",
                                                                                      "minimum": 0
                                                                                    },
                                                                                    "error": {
                                                                                      "type": "string",
                                                                                      "maxLength": 4000
                                                                                    },
                                                                                    "expected": {
                                                                                      "type": "string",
                                                                                      "maxLength": 2000
                                                                                    },
                                                                                    "data": {
                                                                                      "type": "string",
                                                                                      "maxLength": 2000
                                                                                    }
                                                                                  },
                                                                                  "required": [
                                                                                    "action",
                                                                                    "status"
                                                                                  ],
                                                                                  "additionalProperties": false
                                                                                },
                                                                                "maxItems": 200
                                                                              }
                                                                            },
                                                                            "required": [
                                                                              "action",
                                                                              "status"
                                                                            ],
                                                                            "additionalProperties": false
                                                                          },
                                                                          "maxItems": 200
                                                                        }
                                                                      },
                                                                      "required": [
                                                                        "action",
                                                                        "status"
                                                                      ],
                                                                      "additionalProperties": false
                                                                    },
                                                                    "maxItems": 200
                                                                  }
                                                                },
                                                                "required": [
                                                                  "action",
                                                                  "status"
                                                                ],
                                                                "additionalProperties": false
                                                              },
                                                              "maxItems": 200
                                                            }
                                                          },
                                                          "required": [
                                                            "action",
                                                            "status"
                                                          ],
                                                          "additionalProperties": false
                                                        },
                                                        "maxItems": 200
                                                      }
                                                    },
                                                    "required": [
                                                      "action",
                                                      "status"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "maxItems": 200
                                                }
                                              },
                                              "required": [
                                                "action",
                                                "status"
                                              ],
                                              "additionalProperties": false
                                            },
                                            "maxItems": 200
                                          }
                                        },
                                        "required": [
                                          "action",
                                          "status"
                                        ],
                                        "additionalProperties": false
                                      },
                                      "maxItems": 200
                                    }
                                  },
                                  "required": [
                                    "action",
                                    "status"
                                  ],
                                  "additionalProperties": false
                                },
                                "maxItems": 200
                              }
                            },
                            "required": [
                              "action",
                              "status"
                            ],
                            "additionalProperties": false
                          },
                          "maxItems": 200,
                          "description": "The steps this execution ran, as a tree: each step may nest its own `steps`. At most 200 steps per result counted across all levels, nested at most 10 levels deep (a top-level step is level 1). `action` is trimmed, 1–2000 characters; `expected` and `data` at most 2000; `error` at most 4000. A step's index is its position in a depth-first, pre-order walk of the tree, starting at 0."
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "maxLength": 2048,
                                "format": "uri"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              }
                            },
                            "required": [
                              "url"
                            ],
                            "additionalProperties": false
                          },
                          "maxItems": 20,
                          "description": "Links about this execution — an issue, a TMS page, a build log — for example `[{ \"url\": \"https://jira.example.com/browse/PRB-7\", \"name\": \"PRB-7\" }]`: at most 20 per result. `url` is an absolute `http:` or `https:` URL, trimmed, at most 2048 characters; any other scheme (`javascript:`, `data:`, `file:`, `ftp:`) or a relative URL is refused with 422. `name` is optional, trimmed, 1–255 characters. Stored in the order sent."
                        },
                        "case": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "maxLength": 4000
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 80
                              },
                              "maxItems": 50,
                              "description": "Tag names, at most 50, each trimmed to 1–80 characters; an unknown name is added to the organization's tag catalog, like tagging a case."
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string",
                                "maxLength": 4000
                              },
                              "maxProperties": 50,
                              "description": "Field values by field name, at most 50. A name is a system field key (`priority`, `severity`, `type`, `layer`, `behavior`, `status`, `preconditions`, `postconditions`, `is_flaky`) or the title of a test case custom field visible to the project (in any language it is authored in), matched ignoring case; 1–200 characters once trimmed, and two names equal ignoring case and padding are refused with 422. A value names an option of a select or radio field (ignoring case; `;` separates the options of a multi-select); a checkbox is false for `false`, `0`, `no` or `n` and true otherwise; other fields take the value as text, checked against the field type (a number, a URL, a `YYYY-MM-DD` date), at most 4000 characters. A field or value that does not resolve — an unknown name, an unknown option, a value the field type refuses, a member field (not settable by name), a name several fields share, or a second name for a field already given — is skipped and reported in `warnings`; it never fails the report. An empty value is skipped silently."
                            },
                            "steps": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "action": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 2000
                                  },
                                  "expected": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "maxLength": 2000
                                  },
                                  "data": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "maxLength": 2000
                                  }
                                },
                                "required": [
                                  "action"
                                ],
                                "additionalProperties": false
                              },
                              "maxItems": 500,
                              "description": "The case's steps in order, at most 500: `action` trimmed to 1–2000 characters, `expected` and `data` at most 2000 each."
                            }
                          },
                          "additionalProperties": false,
                          "description": "Applied only when this entry creates the case: the first entry of a new automation key (with `title`). Ignored, without a warning, when the entry matches an existing case or a case an earlier entry of the same report creates — a report never modifies an existing case."
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1,
                    "maxItems": 500,
                    "description": "The results to record, 1–500 entries. Across all entries, one report carries at most 10000 result steps (`steps`, every level counted), at most 10000 case steps (`case.steps`) and at most 1000 case tag names (`case.tags`), case steps and tags counted whether or not the entry creates its case; a report over a total is refused with 422 and nothing is written. Send larger batches in chunks that reuse the run the first chunk returned."
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "createMissingCases": {
                        "type": "boolean",
                        "default": true
                      },
                      "suiteUlid": {
                        "type": "string",
                        "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                      },
                      "close": {
                        "type": "boolean",
                        "default": false
                      },
                      "assignFailedTo": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 254,
                          "pattern": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$"
                        },
                        "minItems": 1,
                        "maxItems": 20,
                        "description": "Emails of organization members, 1–20, trimmed and compared ignoring case; a repeated email counts once. Every run case whose result from this report is `failed` (the last entry for the case decides) and that has no assignee is assigned to one of them, round-robin in the order given, following the order of the entries. A run case that already has an assignee keeps it; passed, skipped and blocked run cases are never touched. An email that is not an active member of the organization whose role can execute runs and who can access the project is skipped with one warning that gives only how many did not match; assignment never fails the report."
                      }
                    },
                    "default": {},
                    "additionalProperties": false
                  }
                },
                "required": [
                  "run",
                  "results"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "run": {
                      "type": "object",
                      "properties": {
                        "ulid": {
                          "type": "string",
                          "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        },
                        "displayId": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "open",
                            "closed"
                          ]
                        }
                      },
                      "required": [
                        "ulid",
                        "displayId",
                        "state"
                      ],
                      "additionalProperties": false
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "outcome": {
                                "type": "string",
                                "enum": [
                                  "recorded"
                                ]
                              },
                              "caseUlid": {
                                "type": "string",
                                "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                              },
                              "resultUlid": {
                                "type": "string",
                                "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                              },
                              "created": {
                                "type": "boolean",
                                "enum": [
                                  true
                                ]
                              }
                            },
                            "required": [
                              "outcome",
                              "caseUlid",
                              "resultUlid"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "outcome": {
                                "type": "string",
                                "enum": [
                                  "unmatched"
                                ]
                              },
                              "reason": {
                                "type": "string",
                                "enum": [
                                  "case_not_found",
                                  "case_archived",
                                  "title_required",
                                  "invalid_display_id"
                                ]
                              }
                            },
                            "required": [
                              "outcome",
                              "reason"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "recorded": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "created": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "unmatched": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "recorded",
                        "created",
                        "unmatched"
                      ],
                      "additionalProperties": false
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "maxLength": 300
                      },
                      "maxItems": 20,
                      "description": "What the report skipped without failing — for example a case field it could not resolve (`Unknown field \"Sevrity\" was skipped`). Present only when there is one; deduplicated, at most 20 items of at most 300 characters, the last one counting those left out."
                    }
                  },
                  "required": [
                    "run",
                    "results",
                    "summary"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "validation_failed",
                            "not_found",
                            "conflict",
                            "last_owner",
                            "unauthorized",
                            "forbidden",
                            "email_not_verified",
                            "email_send_failed",
                            "turnstile_failed",
                            "too_many_requests",
                            "unsupported_media_type",
                            "internal_error",
                            "immutable_field",
                            "system_field",
                            "system_field_readonly",
                            "field_has_values",
                            "not_system_field",
                            "storage_quota_exceeded",
                            "staging_already_committed",
                            "file_too_large",
                            "too_many_cases",
                            "too_many_attachments",
                            "too_many_suites",
                            "parse_failed",
                            "empty_import",
                            "organization_suspended",
                            "seat_limit_exceeded",
                            "project_limit_exceeded",
                            "api_result_limit_exceeded",
                            "project_archived",
                            "billing_provider_unavailable",
                            "organization_plan_required",
                            "run_case_assignee_locked",
                            "project_locked",
                            "session_required",
                            "reauthentication_required",
                            "account_deletion_blocked",
                            "staff_account_not_deletable",
                            "organization_subscription_active",
                            "organization_deletion_already_scheduled",
                            "organization_pending_deletion",
                            "organization_deletion_in_progress",
                            "organization_has_no_owner",
                            "restore_disarm_failed",
                            "jira_connection_stale",
                            "jira_project_not_allowed",
                            "jira_project_mismatch",
                            "jira_not_found",
                            "jira_permission_denied",
                            "jira_rate_limited",
                            "jira_unavailable",
                            "jira_project_not_mapped",
                            "jira_required_fields_missing",
                            "jira_issue_rejected",
                            "jira_issue_not_found",
                            "jira_issue_already_linked",
                            "jira_issue_creation_in_progress",
                            "jira_issue_created_for_deleted_defect",
                            "jira_issue_creation_unconfirmed"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "details": {}
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (`forbidden`): the role cannot execute runs and write test cases, or the organization lacks the Integrations entitlement (CI reporting is available on paid plans only, whatever the credential)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "validation_failed",
                            "not_found",
                            "conflict",
                            "last_owner",
                            "unauthorized",
                            "forbidden",
                            "email_not_verified",
                            "email_send_failed",
                            "turnstile_failed",
                            "too_many_requests",
                            "unsupported_media_type",
                            "internal_error",
                            "immutable_field",
                            "system_field",
                            "system_field_readonly",
                            "field_has_values",
                            "not_system_field",
                            "storage_quota_exceeded",
                            "staging_already_committed",
                            "file_too_large",
                            "too_many_cases",
                            "too_many_attachments",
                            "too_many_suites",
                            "parse_failed",
                            "empty_import",
                            "organization_suspended",
                            "seat_limit_exceeded",
                            "project_limit_exceeded",
                            "api_result_limit_exceeded",
                            "project_archived",
                            "billing_provider_unavailable",
                            "organization_plan_required",
                            "run_case_assignee_locked",
                            "project_locked",
                            "session_required",
                            "reauthentication_required",
                            "account_deletion_blocked",
                            "staff_account_not_deletable",
                            "organization_subscription_active",
                            "organization_deletion_already_scheduled",
                            "organization_pending_deletion",
                            "organization_deletion_in_progress",
                            "organization_has_no_owner",
                            "restore_disarm_failed",
                            "jira_connection_stale",
                            "jira_project_not_allowed",
                            "jira_project_mismatch",
                            "jira_not_found",
                            "jira_permission_denied",
                            "jira_rate_limited",
                            "jira_unavailable",
                            "jira_project_not_mapped",
                            "jira_required_fields_missing",
                            "jira_issue_rejected",
                            "jira_issue_not_found",
                            "jira_issue_already_linked",
                            "jira_issue_creation_in_progress",
                            "jira_issue_created_for_deleted_defect",
                            "jira_issue_creation_unconfirmed"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "details": {}
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Project, reused run or options.suiteUlid not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "validation_failed",
                            "not_found",
                            "conflict",
                            "last_owner",
                            "unauthorized",
                            "forbidden",
                            "email_not_verified",
                            "email_send_failed",
                            "turnstile_failed",
                            "too_many_requests",
                            "unsupported_media_type",
                            "internal_error",
                            "immutable_field",
                            "system_field",
                            "system_field_readonly",
                            "field_has_values",
                            "not_system_field",
                            "storage_quota_exceeded",
                            "staging_already_committed",
                            "file_too_large",
                            "too_many_cases",
                            "too_many_attachments",
                            "too_many_suites",
                            "parse_failed",
                            "empty_import",
                            "organization_suspended",
                            "seat_limit_exceeded",
                            "project_limit_exceeded",
                            "api_result_limit_exceeded",
                            "project_archived",
                            "billing_provider_unavailable",
                            "organization_plan_required",
                            "run_case_assignee_locked",
                            "project_locked",
                            "session_required",
                            "reauthentication_required",
                            "account_deletion_blocked",
                            "staff_account_not_deletable",
                            "organization_subscription_active",
                            "organization_deletion_already_scheduled",
                            "organization_pending_deletion",
                            "organization_deletion_in_progress",
                            "organization_has_no_owner",
                            "restore_disarm_failed",
                            "jira_connection_stale",
                            "jira_project_not_allowed",
                            "jira_project_mismatch",
                            "jira_not_found",
                            "jira_permission_denied",
                            "jira_rate_limited",
                            "jira_unavailable",
                            "jira_project_not_mapped",
                            "jira_required_fields_missing",
                            "jira_issue_rejected",
                            "jira_issue_not_found",
                            "jira_issue_already_linked",
                            "jira_issue_creation_in_progress",
                            "jira_issue_created_for_deleted_defect",
                            "jira_issue_creation_unconfirmed"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "details": {}
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The reused run is closed or aborted (`conflict`); the project changed during the report in a way it cannot reconcile, e.g. a new key now held by an archived case (`conflict`); or the API result quota is exhausted (`api_result_limit_exceeded`). Nothing is written.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "validation_failed",
                            "not_found",
                            "conflict",
                            "last_owner",
                            "unauthorized",
                            "forbidden",
                            "email_not_verified",
                            "email_send_failed",
                            "turnstile_failed",
                            "too_many_requests",
                            "unsupported_media_type",
                            "internal_error",
                            "immutable_field",
                            "system_field",
                            "system_field_readonly",
                            "field_has_values",
                            "not_system_field",
                            "storage_quota_exceeded",
                            "staging_already_committed",
                            "file_too_large",
                            "too_many_cases",
                            "too_many_attachments",
                            "too_many_suites",
                            "parse_failed",
                            "empty_import",
                            "organization_suspended",
                            "seat_limit_exceeded",
                            "project_limit_exceeded",
                            "api_result_limit_exceeded",
                            "project_archived",
                            "billing_provider_unavailable",
                            "organization_plan_required",
                            "run_case_assignee_locked",
                            "project_locked",
                            "session_required",
                            "reauthentication_required",
                            "account_deletion_blocked",
                            "staff_account_not_deletable",
                            "organization_subscription_active",
                            "organization_deletion_already_scheduled",
                            "organization_pending_deletion",
                            "organization_deletion_in_progress",
                            "organization_has_no_owner",
                            "restore_disarm_failed",
                            "jira_connection_stale",
                            "jira_project_not_allowed",
                            "jira_project_mismatch",
                            "jira_not_found",
                            "jira_permission_denied",
                            "jira_rate_limited",
                            "jira_unavailable",
                            "jira_project_not_mapped",
                            "jira_required_fields_missing",
                            "jira_issue_rejected",
                            "jira_issue_not_found",
                            "jira_issue_already_linked",
                            "jira_issue_creation_in_progress",
                            "jira_issue_created_for_deleted_defect",
                            "jira_issue_creation_unconfirmed"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "details": {}
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Body is not `application/json` (`unsupported_media_type`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "validation_failed",
                            "not_found",
                            "conflict",
                            "last_owner",
                            "unauthorized",
                            "forbidden",
                            "email_not_verified",
                            "email_send_failed",
                            "turnstile_failed",
                            "too_many_requests",
                            "unsupported_media_type",
                            "internal_error",
                            "immutable_field",
                            "system_field",
                            "system_field_readonly",
                            "field_has_values",
                            "not_system_field",
                            "storage_quota_exceeded",
                            "staging_already_committed",
                            "file_too_large",
                            "too_many_cases",
                            "too_many_attachments",
                            "too_many_suites",
                            "parse_failed",
                            "empty_import",
                            "organization_suspended",
                            "seat_limit_exceeded",
                            "project_limit_exceeded",
                            "api_result_limit_exceeded",
                            "project_archived",
                            "billing_provider_unavailable",
                            "organization_plan_required",
                            "run_case_assignee_locked",
                            "project_locked",
                            "session_required",
                            "reauthentication_required",
                            "account_deletion_blocked",
                            "staff_account_not_deletable",
                            "organization_subscription_active",
                            "organization_deletion_already_scheduled",
                            "organization_pending_deletion",
                            "organization_deletion_in_progress",
                            "organization_has_no_owner",
                            "restore_disarm_failed",
                            "jira_connection_stale",
                            "jira_project_not_allowed",
                            "jira_project_mismatch",
                            "jira_not_found",
                            "jira_permission_denied",
                            "jira_rate_limited",
                            "jira_unavailable",
                            "jira_project_not_mapped",
                            "jira_required_fields_missing",
                            "jira_issue_rejected",
                            "jira_issue_not_found",
                            "jira_issue_already_linked",
                            "jira_issue_creation_in_progress",
                            "jira_issue_created_for_deleted_defect",
                            "jira_issue_creation_unconfirmed"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "details": {}
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed (`validation_failed`), nothing written: the body breaks the request schema — for example an unknown field, an empty `results` or more than 500, an entry with neither `caseDisplayId` nor `automationKey`, a `run` matching neither shape, a run reference given in both forms, or an invalid `source` — a created run names an unknown milestone, plan or configuration (`details.field` names it), or an `Idempotency-Key` reused with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "validation_failed",
                            "not_found",
                            "conflict",
                            "last_owner",
                            "unauthorized",
                            "forbidden",
                            "email_not_verified",
                            "email_send_failed",
                            "turnstile_failed",
                            "too_many_requests",
                            "unsupported_media_type",
                            "internal_error",
                            "immutable_field",
                            "system_field",
                            "system_field_readonly",
                            "field_has_values",
                            "not_system_field",
                            "storage_quota_exceeded",
                            "staging_already_committed",
                            "file_too_large",
                            "too_many_cases",
                            "too_many_attachments",
                            "too_many_suites",
                            "parse_failed",
                            "empty_import",
                            "organization_suspended",
                            "seat_limit_exceeded",
                            "project_limit_exceeded",
                            "api_result_limit_exceeded",
                            "project_archived",
                            "billing_provider_unavailable",
                            "organization_plan_required",
                            "run_case_assignee_locked",
                            "project_locked",
                            "session_required",
                            "reauthentication_required",
                            "account_deletion_blocked",
                            "staff_account_not_deletable",
                            "organization_subscription_active",
                            "organization_deletion_already_scheduled",
                            "organization_pending_deletion",
                            "organization_deletion_in_progress",
                            "organization_has_no_owner",
                            "restore_disarm_failed",
                            "jira_connection_stale",
                            "jira_project_not_allowed",
                            "jira_project_mismatch",
                            "jira_not_found",
                            "jira_permission_denied",
                            "jira_rate_limited",
                            "jira_unavailable",
                            "jira_project_not_mapped",
                            "jira_required_fields_missing",
                            "jira_issue_rejected",
                            "jira_issue_not_found",
                            "jira_issue_already_linked",
                            "jira_issue_creation_in_progress",
                            "jira_issue_created_for_deleted_defect",
                            "jira_issue_creation_unconfirmed"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "details": {}
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/runs": {
      "post": {
        "tags": [
          "Runs"
        ],
        "operationId": "createRun",
        "description": "`caseUlids` is required unless `planUlid` or `plan` is supplied or `automated` is `true`. When present, `caseUlids` holds 1–5000 case ULIDs; an empty array is rejected. With `planUlid` (or `plan`) and no `caseUlids`, the run's cases are seeded from the plan's current selection. Each reference takes one form: `environmentId` or `environment`, `milestoneId` or `milestone`, `planUlid` or `plan`, `configurationUlids` or `configurations`; both forms of one reference is a 422. The name forms serve CI tools whose app token cannot look ULIDs up: `milestone` and `plan` take a display id (`M-<n>`, `PLAN-<n>`) or an exact name, `configurations` takes `{ group, name }` pairs, all among the live rows of the project; an unknown one is a 422 (`validation_failed`, `details.field` naming it, `details.code` `unknown_reference`) and nothing is written. `automated: true` allows creating the run without cases, so CI tools can create one run up front and report every shard into it (`POST /api/v1/projects/{projectId}/reports` with `run.ulid`); it never removes cases: cases from `caseUlids` or `planUlid` are still added. `automated` is request-only: it is not stored and the run response does not carry it. `source` records where a CI run came from: `branch` (1–255 characters, no control characters), `commit` (1–64 printable characters, no spaces) and `buildUrl` (an http(s) URL of at most 2048 characters), each optional and trimmed. `null`, `{}` or all-null fields store no source. It is write-once: `PATCH /runs/{runUlid}` does not accept it; only a CI report may fill a run that has none. Every run response carries `source`, `null` when unset.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "environmentId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                  },
                  "environment": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 80,
                    "description": "The environment by name, for CI tools: its slug is matched against the live environments of the project, and a new environment is created when none matches. Not together with `environmentId`."
                  },
                  "defaultAssigneeUlid": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                  },
                  "caseUlids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                    },
                    "minItems": 1,
                    "maxItems": 5000
                  },
                  "caseAssignees": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "caseUlid": {
                          "type": "string",
                          "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        },
                        "assigneeUlid": {
                          "type": "string",
                          "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        }
                      },
                      "required": [
                        "caseUlid",
                        "assigneeUlid"
                      ]
                    }
                  },
                  "startedAt": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "milestoneId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                  },
                  "milestone": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "The milestone to link, by reference: a display id `M-<n>`, or else the exact (case-sensitive) name of a milestone of the project. A value shaped like a display id is only ever read as one. Deleted milestones never match; an unknown one is a 422 naming `milestone`. Not together with `milestoneId`."
                  },
                  "customFieldValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fieldUlid": {
                          "type": "string",
                          "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        },
                        "value": {
                          "description": "The value, checked against the field's type: `short_text` a string of 1–500 characters and `paragraph` of 1–4000 (both trimmed); `url` a URL; `number` a string holding a finite number (for example `\"42\"` or `\"-1.5\"`), not a JSON number; `date_picker` a real calendar date as `YYYY-MM-DD`; `checkbox` a boolean (the strings `\"true\"` and `\"false\"` are also accepted); `select_single` and `radio` the ULID of one of the field's options; `select_multi` a list of the field's option ULIDs without duplicates; `user_picker` the user ULID of a current organization member. `null`, a blank string or an empty list means no value: the field is left unset. A required field must get a value, except on create when the field has a default, which is then stored (never for `user_picker`). A value that breaks its type rule is refused with 422."
                        }
                      },
                      "required": [
                        "fieldUlid"
                      ]
                    }
                  },
                  "planUlid": {
                    "type": "string",
                    "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                  },
                  "plan": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "The test plan to link, by reference: a display id `PLAN-<n>`, or else the exact (case-sensitive) name of a test plan of the project. A value shaped like a display id is only ever read as one. Deleted plans never match; an unknown one is a 422 naming `plan`. Same effect as `planUlid`, and not together with it."
                  },
                  "tags": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 80
                    },
                    "maxItems": 50
                  },
                  "configurationUlids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                    },
                    "maxItems": 20,
                    "uniqueItems": true
                  },
                  "configurations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "group": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        }
                      },
                      "required": [
                        "group",
                        "name"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 20,
                    "description": "Configuration values to tag the run with, by name: `group` is the exact (case-sensitive) name of a configuration group of the project and `name` the exact name of a value in it. At most 20, each group at most once. Deleted groups and values never match; an unknown one is a 422 naming `configurations`. Not together with `configurationUlids`."
                  },
                  "source": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "branch": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "commit": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "minLength": 1,
                        "maxLength": 64,
                        "pattern": "^[\\x21-\\x7E]+$"
                      },
                      "buildUrl": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 2048,
                        "format": "uri"
                      }
                    },
                    "additionalProperties": false
                  },
                  "automated": {
                    "type": "boolean",
                    "description": "true allows creating the run without cases, for CI tools that report results into it later; cases from caseUlids or planUlid are still added. Request-only: not stored."
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ulid": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                    },
                    "projectUlid": {
                      "type": "string",
                      "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                    },
                    "runNumber": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "displayId": {
                      "type": "string",
                      "pattern": "^R-[1-9][0-9]*$"
[...]
